<script type="text/x-jquery-tmpl" id="loginMainTmpl">	
<section class="row">
	<section class="span11">
		<h1>登录</h1>
		<form class="login-form">
			<div class="clearfix">
				<label for="email">邮箱地址：</label>
				<input type="text" id="email" name="email" tabindex="1"/>
			</div>
			<div class="clearfix">
				<label for="passwd">登录密码：</label>
				<input type="password" id="passwd" name="passwd" tabindex="2"/>
			</div>
			<div class="clearfix">
				<button type="submit" id="doLogin" class="btn large blue-b" tabindex="3">登录</button>
			</div>
		</form>
	</section>
</section>	
</script>